/* .coba{
    border: 1px solid black;
} */

/* .container{
    margin: 20px;
} */

@media (max-width: 991px){
    header{
        font-size: 23px;
        color: #16697A;
        margin-top: 25px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    input{
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 0.5px solid #BABBBC;
        background-color: #edf2f4;
    }
    button{
        position: absolute;
        right: 20px;
        top: 85px;
        border-radius: 5px;
        border: none;
        background-color: #16697A;
        color: white;
        padding: 5px 10px;
    }

    .card {
        padding: 10px;
        height: 150px;
    }
    .icons{
        font-size: 48px;
    }
    .card p {
        font-size: 16px;
    }

    .navbar{
        color: #BABBBC;
        background-color: white;
        box-shadow: 0px -2px 20px #e9e9e9;
    }
}