body {
    background-color: rgb(211, 211, 211);
}

.container {
    background-color: white;
    height: 120vh;
    padding-top: 0.5em;
    width: 424.9px;
}

header {
    font-size: 1.5em;
    color: #16697A;
    margin: 2em auto;
    text-align: center;
}

.title {
    margin-left: 1.6em;
}

.title p {
    font-size: 0.8em;
}

.input-data {
    padding: 0 1.5em;
}

input {
    width: 100%;
    font-size: 0.8em;
    padding: 0.8em;
    margin: 0.5em 0;
    border-radius: 10px;
    border: 0.5px solid #BABBBC;
    background-color: #edf2f4;
}

.forgot {
    justify-content: space-between;
    font-size: 0.8em;
}

.forgot p {
    margin: auto 0;
}

.syarat {
    width: 2em;
}

.p-syarat {
    font-size: 0.8em;
    margin: auto 0.5em;
}

.submit {
    border-radius: 10px;
    border: none;
    background-color: #FFA62B;
    color: white;
    margin: 1.5em auto;
    padding: 0.7em 9.5em;
}

span a {
    color: #16697A;
    text-decoration: none;
    font-weight: 700;
}

.opsi-lain {
    margin-top: 2em;
}

.btn-masuk-google{
    width: 88%;
    border-radius: 10px;
    border: 1px solid #BABBBC;
    background-color: transparent;
    font-size: 0.9em;
    margin: 1em auto;
    padding: 0.3em 0;
}

.btn-masuk-google .icons {
    font-size: 2.5em;
    padding-left: 1.5em;
    margin-right: -1.3em;
}

.btn-masuk-google p {
    margin: auto;
}

/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    .container {
        /* height: 100vh; */
        width: 100vw;

    }

    .title {
       font-size:  0.9em;
    }

    .submit {
        font-size: 0.75em;
        margin: 0 auto;
    }

    .opsi-lain {
        font-size: 0.68em;
    }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
    .container {
        /* height: 100vh; */
        width: 100vw;

    }

    .title {
       font-size:  0.9em;
    }

    .submit {
        font-size: 0.87em;
        margin: 0 auto;
    }

    .opsi-lain {
        font-size: 0.68em;
    }
}

/* @media (min-width: 320px) and (max-width: 370px){
    .container {
        height: 150vh;
    }
}
@media (min-width: 371px) and (max-width: 425px){
    .container {
        height: 150vh;
    }
} */

/* body{
    background-color: #e8e8e8;
    padding: 0 575px;
}
.container{
    background-color: white;
    height: 100vh;
    padding-top: 2px;
}
header{
    background-color: white;
    width: 100%;
}
header p{
    font-size: 30px;
    color: #16697A;
    margin-top: 45px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.title p{
    font-size: 13px;
}
input{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0.5px solid #BABBBC;
    background-color: #edf2f4;
}
.submit{
    font-weight: 800;
    border-radius: 10px;
    border: none;
    background-color: #FFA62B;
    color: white;
    padding: 12px 10px;
    margin-top: 15px;
    width: 100%;
}
.opsi-lain {
    margin-top: 100px;
}
.btn-masuk-google{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #BABBBC;
    background-color: transparent;
    padding: 12px 0px 0px 35px;
}
.icons {
    font-size: 25px;
    text-align: center;
    margin: 0px 8px 0px 5px;
}
span{
    color: #16697A;
    font-weight: 700;
}
p span a{
    color: #16697A;
    text-decoration: none;
}
.checkIngatSaya{
    width: 15px;
    height: 15px;
}
.forgot p{
    position: absolute;
    justify-items: right;
    right: 590px;
    color: #489FB5;
}
.forgot{
    margin: 5px 0px 10px 0px;
}

@media (max-width: 991px) {
    body{
        padding: 0 0;
    }

    .forgot p{
        position: absolute;
        justify-items: right;
        right: 20px;
        color: #489FB5;
    }
} */




/* body{
    background-color: #e8e8e8;
    padding: 0 575px;
}
.container{
    background-color: white;
    height: 100vh;
    padding-top: 2px;
}
header{
    background-color: white;
    width: 100%;
}
header p{
    font-size: 30px;
    color: #16697A;
    margin-top: 45px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.title p{
    font-size: 13px;
}
input{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0.5px solid #BABBBC;
    background-color: #edf2f4;
}
.submit{
    font-weight: 800;
    border-radius: 10px;
    border: none;
    background-color: #FFA62B;
    color: white;
    padding: 12px 10px;
    margin-top: 15px;
    width: 100%;
}
.opsi-lain {
    margin-top: 10px;
}
.btn-masuk-google{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #BABBBC;
    background-color: transparent;
    padding: 12px 0px 0px 35px;
}
.icons {
    font-size: 25px;
    text-align: center;
    margin: 0px 8px 0px 5px;
}
span{
    color: #16697A;
    font-weight: 700;
}
.snk{
    padding: 10px 10px ;
}
.syarat{
    margin-left: -155px;
}
p span a{
    color: #16697A;
    text-decoration: none;
}

@media (max-width: 991px) {
    body{
        padding: 0 0;
    }
} */