body{
    background-color: #e8e8e8;
    padding: 0 575px;
}
.container{
    background-color: white;
    height: 90vh;
    padding-top: 2px;
}
.button-back{
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 25px;
    background-color: transparent;
    color: #676868;
    position: absolute;
}
.fotoProfil{
    border: 2px solid #16697A;
    border-radius: 100%;
    width: 80px;
    margin: 70px 0px 0px 130px;
}
.userSetting a{
    text-decoration: none;
    color: #676868;
}
.icon-userSetting{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.navbar{
    background-color: white;
    box-shadow: 0px -2px 20px #e9e9e9;
    text-decoration: none;
    color: #BABBBC;
    margin: 0 575px;
}
nav a {
    color: #BABBBC;
    text-decoration: none;
}
table{
    height: 280px;
}
td{
    vertical-align: middle;
}
.userSetting .value{
    color: #616161;
}

@media (max-width: 991px){
    body{
        padding: 0 0;
    }
    .navbar{
        margin: 0;
    }
}

