body {
    background-color: rgb(211, 211, 211);
}

.container {
    background-color: white;
    height: max-content;
    width: 450px;
    height: 150vh;
}

header {
    font-size: 1.5em;
    color: #16697A;
    padding: 20px 0;
    background-color: white;
    z-index: 1;
    width: 438px;
}

.searchInput input {
    width: 26.5em;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid #BABBBC;
}

.searchInput button {
    font-size: 0.6em;
    padding: 0.4em 0.6em;
    position: absolute;
    right: 1.3em;
    bottom: 1.7em;
    border-radius: 8px;
    background-color: #16697A;
    color: white;
    border: none;
}

.main {
    padding-top: 8em;
    padding-bottom: 10em;
}

.nama {
    font-weight: 800;
}

.main h6 {
    font-size: 0.9em;
}

.buttonAddRencana {
    width: 12em;
    background-color: #16697A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em 0 0 0.8em;
    margin: 100px auto;
    left: 22em;
    font-size: 0.8em;
    font-weight: 700;
}

.buttonAddRencana .icon {
    font-size: 1.4em;
    margin-right: 0.3em;
    font-weight: 700;
}

nav {
    background-color: white;
    box-shadow: 0px -2px 20px #e9e9e9;
    width: 450px;
    margin: auto;
    font-size: 0.8em;
}

nav a {
    text-decoration: none;
    color: #BABBBC;
}

/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    .container {
        /* height: 100vh; */
        width: 99.9vw;
    }

    header {
        font-size: 1.2em;
        width: 96vw;
    }
    
    .searchInput input {
        width: 90vw;
    }

    .searchInput button {
        font-size: 0.7em;
        margin-bottom:0.3em;
        margin-right: 0.6em;
    }

    .main h6 {
        font-size: 0.78em;
    }

    .buttonAddRencana {
        font-size: 0.6em;
        margin-right: 1.5em;
    }

    nav {
        width: 99.9vw;
    }

    .nama {
        font-weight: 700;
    }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
    .container {
        /* height: 100vh; */
        width: 99.9vw;
    }

    header {
        font-size: 1.2em;
        width: 96vw;
    }
    
    .searchInput input {
        width: 95vw;
    }

    .searchInput button {
        font-size: 0.75em;
        margin-right: -0.5em;
    }

    .main h6 {
        font-size: 0.78em;
    }

    .buttonAddRencana {
        font-size: 0.6em;
        margin-right: 1.5em;
    }

    nav {
        width: 99.9vw;
    }
    .nama {
        font-weight: 700;
    }
}