.logo{
  height: 100px;
}

input{
  padding: 10px 400px 10px 35px;
  margin-top: 30px;
  border-radius: 100px;
  border: none;
  text-align: left;
  font-size: 16px;
}

.header{
  padding: 0 200px;
  background: linear-gradient(89.06deg, #0021ff 0%, #7ac6ff 100%);
}

.login {
  font-size: 16px;
  margin-top: 40px;
  text-decoration: none;
  color: white;
  
}
