body {
    background-color: rgb(211, 211, 211);
}

.container {
    background-color: white;
    height: 120vh;
    width: 450px;
}

header {
    font-weight: 700;
    font-size: 1.1em;
    color: #16697A;
    padding: 2em 0 0 0;
    background-color: white;
    width: 430px;
    align-items: center;
    align-content: center;
}

.button-back {
    font-size: 1em;
    margin: -0.3em 0.5em 0 0;
    border-radius: 8px;
    background-color: transparent;
    color: #626262;
    border: none;
}

/* .searchInput input {
    width: 26.5em;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid #BABBBC;
}

.searchInput button {
    font-size: 0.6em;
    padding: 0.4em 0.6em;
    position: absolute;
    right: 0.4em;
    bottom: 1.7em;
    border-radius: 8px;
    background-color: #16697A;
    color: white;
    border: none;
} */

.main {
    padding: 7em 0.5em;
}

/* .item {
    border: 1px solid #BABBBC;
    border-radius: 10px;
    text-align: center;
    line-height: 1.6em;
    padding: 1em 2em 0 1em;
}

.sub-item {
    padding-bottom: 1em;
}

.sub-item h6 {
    margin: auto 1em;

}

nav {
    background-color: white;
    box-shadow: 0px -2px 20px #e9e9e9;
    width: 450px;
    margin: auto;
    font-size: 0.8em;
}

nav a {
    text-decoration: none;
    color: #BABBBC;
} */

.button {
    padding: 1em 1.5em;
    margin-bottom: 2em;
    font-size: 1rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #16697A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px #01465488;
    width: 25.5em;
}

.button:hover {
    background-color: #074c5a;
}

.button:active {
    background-color: #16697A;
    box-shadow: 0 2px #16697A;
    transform: translateY(2px);
}

/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    header {
        width: 99.9vw;
    }

    .container {
        /* height: 100vh; */
        width: 99.9vw;

    }

    .button {
        font-size: 0.7em;
    }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
    header {
        width: 99.9vw;
    }

    .container {
        /* height: 100vh; */
        width: 99.9vw;

    }

    .button {
        font-size: 0.8em;
    }
}

/* @media (min-width: 320px) and (max-width: 370px) {
    .container {
        height: 140vh;
    }
}

@media (min-width: 371px) and (max-width: 425px) {
    .container {
        height: 120vh;
    }
} */

/* body{
    background-color: #e8e8e8;
    padding: 0 575px;
}
.container{
    background-color: white;
    height: 90vh;
    padding-top: 2px;
}
header{
    background-color: white;
    width: 20%;
    z-index: 1;
}
header p{
    font-size: 23px;
    color: #16697A;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}
input{
    width: 117%;
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.5px solid #BABBBC;
    background-color: #edf2f4;
}
.button-back{
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 25px 10px 10px 0px;
    background-color: transparent;
    color: #676868;
}
.button-search{
    position: absolute;
    right: -45px;
    top: 85px;
    border-radius: 5px;
    border: none;
    background-color: #16697A;
    color: white;
    padding: 5px 10px;
}
.main{
    border: 0.5px solid #89969F;
    border-radius: 10px;
    padding: 10px 10px 10px 3px;
    margin-bottom: 100px;
    text-align: justify;
    text-justify: inter-word;
}
.mb-3{
    padding: 145px 0px 0px 0px;
}
.sub-item{
    font-weight:bold;
    margin-bottom: 15px;
}
.sub-item h6{
    margin-top: 10px;
    margin-left: 15px;
}
.navbar{
    background-color: white;
    box-shadow: 0px -2px 20px #e9e9e9;
    text-decoration: none;
    color: #BABBBC;
    margin: 0 575px;
}
nav a {
    color: #BABBBC;
    text-decoration: none;
}
mark{
    background-color: yellow;
    color: black;
    font-weight: 700;
} */

/* @media (max-width: 991px){
    body{
        padding: 0 0;
    }
    .navbar{
        margin: 0;
    }
    header{
        background-color: white;
        width: 100%;
        z-index: 1;
    }
    header p{
        font-size: 23px;
        color: #16697A;
        margin-top: 25px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    input{
        width: 94%;
        padding: 10px 10px;
        margin-top: 0px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 0.5px solid #BABBBC;
        background-color: #edf2f4;
    }
    .button-back{
        border: 1px solid #e9e9e9;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 25px 10px 10px 0px;
        background-color: transparent;
        color: #676868;
    }
    .button-search{
        position: absolute;
        right: 30px;
        top: 85px;
        border-radius: 5px;
        border: none;
        background-color: #16697A;
        color: white;
        padding: 5px 10px;
    }
} */