body {
    background-color: rgb(211, 211, 211);
}

.container {
    background-color: white;
    height: 120vh;
    width: 450px;
}

header {
    font-size: 1.2em;
    font-weight: 700;
    color: #16697A;
    background-color: white;
    padding: 20px 0;
}

.button-back {
    font-size: 1em;
    margin: -0.3em 0.5em 0 0;
    border-radius: 8px;
    background-color: transparent;
    color: #626262;
    border: none;
}

.main {
    padding: 5em 0.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
    border: 1px solid #ddd;
    font-size: 0.73em;
    margin: 0 auto;
}

th{
    color: #16697A;
    font-size: 1em;
}

th,
td {
    text-align: center;
    padding: 1em;
}

th:first-child,
td:first-child {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fa-check-circle {
    color: #16697A;
    font-size: 20px;
}

.fa-check {
    color: #16697A;
    font-size: 15px;
}

.button {
    padding: 0.7em 4em;
    margin: 1em auto;
    width: 400px;
    font-size: 0.85em;
    font-weight: 500;
    color: #16697A;
    background-color: transparent;
    border: 1px solid #16697A;
    border-radius: 15px;
}

.button:hover {
    background-color: #074c5a;
    color: white ;
}

.button:active {
    background-color: #16697A;
    box-shadow: 0 2px #16697A;
    transform: translateY(2px);
}

/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    header {
        width: 83vw;
    }

    .container {
        /* height: 100vh; */
        width: 99.9vw;
    }

    .button {
       padding: 0.5em 0.5em;
    width: 90vw;
    }

    table {
        width: 100%;
     }

}

/* Mobile M */
@media (min-width: 375px) and (max-width: 425px) {
    header {
        width: 99.9vw;
    }

    .container {
        /* height: 100vh; */
        width: 99.9vw;
    }

    .button {
        padding: 0.5em 0.5em;
        width: 90vw;
    }

    table {
        width: 100%;
    }
}

@media (min-width: 374px) and (max-width: 768px) {
    header {
        width: 99.9vw;
    }

    .container {
        /* height: 100vh; */
        width: 99.9vw;
    }

    .button {
        padding: 0.5em 0.5em;
     width: 90vw;
     }

    table {
        width: 100%;
    }
}